* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.page {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(7, auto);
}

.presentation {
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: auto;
  width: 375px;
}

.brand-title {
  font-family: 'Poppins', sans-serif;
  color: blue;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-top: 5px;
  margin-left: 5px;
}

.fa-bars {
  margin: 2%;
}

.presentation h2 {
  width: 327px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #17284d;
  margin-top: 30%;
  flex-grow: initial;
  margin-bottom: 10%;
  margin-left: 10%;
  display: flex;
  align-items: center;
}

.job p {
  width: 327px;
  height: 147px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #344563;
  margin: 5%;
}

.contact {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  color: #7f8cff;
  margin-left: 5%;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0.5rem;
}

.socialmedia ul {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 2%;
  list-style: none;
}

.tonic {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}


.card .canopy p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #344563;
}

.card .canopy ul {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #344563;
  padding: 0.1rem;
}


.card article {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  letter-spacing: 0.1em;
}

.cards .canopy li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #7a869a;
}

.cards .canopy {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.cards .canopy ul {
  display: flex;
  justify-content: space-between;
}

.cards .button {
  display: grid;
  grid-template-columns: repeat(1, 60%);
}

.cards .button ul {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  display: flex;
  text-align: center;
  border: none;
  align-items: start;
}

.cards .button ul li {
  background: #ebebff;
  width: 92px;
  list-style: none;
  border: 1px solid white;
  border-radius: 5%;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 600px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.cardimg {
  width: 295px;
  height: 220px;
}

.proyect a {
  margin-top: 1.5rem;
  width: 250px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.proyect button {
  border: 2px solid #6070ff;
  width: 126px;
  height: 48px;
  border-radius: 8px;
  margin-left: 25%;
  padding: 12px;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.aboutmyself h2 {
  width: 327px;
  height: 35px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin: 5%;
}

.aboutmyself .contact {
  width: 150px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 5%;
}

.get {
  margin-top: 1.5rem;
  width: 250px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;

}

.get button {
  border: 2px solid #6070ff;
  width: 160px;
  height: 48px;
  border-radius: 8px;
  text-decoration: none;
  margin-left: 25%;
  padding: 12px;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
}

.image img {
  height: 5em;
  margin-top: 2rem;
  margin-left: 5rem;
}

.logo .leng {
  justify-self: flex-start;
  font-size: 3em;
}